{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/styles.css' %}">
    <title>RCL Analytics</title>

</head>


<body>
   
    <header>

        <nav class="nav-bar">
            <div class="logo">
                Logo
            </div>

            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="#" class="nav-link">Sobre Nós</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">O que fazemos</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Trabalhe Conosco</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Práticas</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Percepções</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contato</a></li>
                </ul>
            </div>
        </nav>
        
    </header>
    
</body>

<footer>

</footer>


</html>